.Main-Container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.Content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red-bar {
    width: 100%;
    height: 10px;
    background-color: red;
}

.Authentication {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 5%;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.other-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

#forgot-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#title-card {
    display: flex;
    gap: 1rem;
}

.Link {
    color: #000;
    text-decoration: none;
}

.Link:hover {
    color: #000;
    text-decoration: underline;
}